<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Vue.js---联系</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
<div id="app">
    <ol>
        <!-- 创建一个 todo-item 组件的实例 -->
        <todo-item v-for="item in groceryList"
                   v-bind:todo="item"
                   v-bind:key="item.id">

        </todo-item>
    </ol>
</div>

<div id="app1">

</div>

</body>
<!--不知道为啥只有放下面才能生效-->
<script src="../js/vueTest2.js"></script>
</html>